<div class='container pt-5' style="width: 100%; height: 500px">
  <h4 class='row mt-5 d-flex justify-content-center'>本当に退会しますか？</h4>
  <p class='row mt-3 d-flex justify-content-center'>
    退会すると、会員登録情報や
  </p>
  <p class='row mt-3 d-flex justify-content-center'>
    これまでの購入履歴が閲覧できなくなります。
  </p>
  <p class='row mt-3 d-flex justify-content-center'>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class='row-3 mt-3 d-flex justify-content-center'>
    <%= link_to '退会しない', customers_my_page_path, class: "col-2 btn btn-sm btn-primary d-flex justify-content-center" %>
    <div class='col-1'></div>
    <%= link_to '退会する', customers_withdraw_path, class: "col-2 btn btn-sm btn-danger d-flex justify-content-center" %>
  </div>
</div>