<div class="container px-5 px-sm-0 my-5 d-flex justify-content-center">
  <div class="row">
    <div class="text-center my-2"> <!-- my-5クラスを追加 -->
      <h1>About</h1>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>
      <%= image_tag "default-image.jpg", size: "400x200" %>
    </div>
  </div>
</div>