@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

#error_explanation {
  width: 400px;
  border: 2px solid #8b0000;
  padding: 7px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0px 5px 12px #708090, -6px -6px 12px #fff;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 15px;
  margin: -7px;
  margin-top: -7px;
  margin-right: -7px;
  margin-bottom: -7px;
  margin-left: -7px;
  margin-bottom: 0;
  background-color: #8b0000;
  color: #fff;
}

#error_explanation ul {
  margin: 7px auto;
}


.background {
  background-image: url("/images/NaganoCake_bgi.png");
  background-position: center right;
  background-size: cover;
  width: auto;
  height: 100%;
  background-color: rgba(255,250,205,0.8);
  background-blend-mode: lighten;
}

.field_with_errors {
  display: contents;
}

.btn, .input-group, .form-control {
  box-shadow: 0px 5px 12px #708090, -6px -6px 12px #fff;
}

.btn:hover, .input-group:hover, .form-control:hover {
  box-shadow: 0 0 4px #708090, -2px -2px 4px #FFF;
}
