<div class="container p-3">
  <div class="row">
    <div class="col-md-8">
      <h3>検索結果</h3>
      <div class="search-items d-flex flex-wrap">
        <% @items.each do |item| %>
        <div class="search-item mr-2">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size: "200x150" %>
          <% end %>
          <p><%= item.name %></p>
          <p>¥<%= item.price %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>