<footer style="background-color: #3f312b;">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto text-light '>
        <p>&copy;　2024　Suzuki Nanae,　Wang Yibo,　Yuta Masuda,　Infratop.inc.</p>
      </div>
    </div>
  </div>
</footer>