<footer style="background-color: #f08080;">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto text-light'>
        <p>&copy;　2024　Nanae Suzuki,　Wang Yibo,　Yuta Masuda,　Infratop.inc.</p>
      </div>
    </div>
  </div>
</footer>